{% extends "bets/base.html" %}
{% load static %}

{% block title %}
  {% if rodada %}{{ rodada.name }}{% else %}Jogos{% endif %}
{% endblock %}

{% block content %}
  <div id="sidebar">
    <h3>Rodadas</h3>
    <ul>
      <li {% if not rodada %}class="selected"{% endif %}>
        <a href="{% url "bets:jogo_list" %}">All</a>
      </li>
      {% for r in rodadas %}
        <li {% if rodada.slug == r.slug %}class="selected"{% endif %}>
          <a href="{{ c.get_absolute_url }}">{{ r.name }}</a>
        </li>
      {% endfor %}
    </ul>
  </div>
  <div id="main" class="jogo-list">
    <h1>{% if rodada %}{{ rodada.name }}{% else %}Jogos{% endif %}</h1>
    {% for jogo in jogos %}
      <div class="item">
        <a href="{{ jogo.get_absolute_url }}">
          <img src="{% if jogo.image %}{{ jogo.image.url }}{% else %}{% static "img/no_image.png" %}{% endif %}">
        </a>
        <a href="{{ jogo.get_absolute_url }}">{{ jogo.name }}</a>
        <br>
       # ${{ product.price }}
      </div>
    {% endfor %}
  </div>
{% endblock %}